# Add any directories, files, or patterns you don't want to be tracked by version control
/target/
*.class
/build/
/.idea/
EasyScannerPrinter/.idea/compiler.xml
EasyScannerPrinter/.idea/copyright/profiles_settings.xml
EasyScannerPrinter/.idea/gradle.xml
EasyScannerPrinter/.idea/misc.xml
EasyScannerPrinter/.idea/workspace.xml
EasyScannerPrinter/build/android-profile/profile-2017-03-13-10-46-25-885.rawproto
*.rawproto
icon/android/mipmap-hdpi/ic_launcher.png
icon/android/mipmap-ldpi/ic_launcher.png
icon/android/mipmap-mdpi/ic_launcher.png
icon/android/mipmap-xhdpi/ic_launcher.png
icon/android/mipmap-xxhdpi/ic_launcher.png
icon/android/mipmap-xxxhdpi/ic_launcher.png
icon/android/playstore-icon.png
icon/icon/mipmap-hdpi/ic_launcher.png
icon/icon/mipmap-ldpi/ic_launcher.png
icon/icon/mipmap-mdpi/ic_launcher.png
icon/icon/mipmap-xhdpi/ic_launcher.png
icon/icon/mipmap-xxhdpi/ic_launcher.png
icon/icon/mipmap-xxxhdpi/ic_launcher.png
icon/icon/playstore-icon.png
icon/imessenger/icon-messages-app-27x20@1x.png
icon/imessenger/icon-messages-app-27x20@2x.png
icon/imessenger/icon-messages-app-27x20@3x.png
icon/imessenger/icon-messages-app-iPadAir-67x50@2x.png
icon/imessenger/icon-messages-app-iPadAir-74x55@2x.png
icon/imessenger/icon-messages-app-iPhone-60x45@1x.png
icon/imessenger/icon-messages-app-iPhone-60x45@2x.png
icon/imessenger/icon-messages-app-iPhone-60x45@3x.png
icon/imessenger/icon-messages-app-store-1024x768.png
icon/imessenger/icon-messages-transcript-32x24@1x.png
icon/imessenger/icon-messages-transcript-32x24@2x.png
icon/imessenger/icon-messages-transcript-32x24@3x.png
icon/ios/AppIcon.appiconset/Contents.json
icon/ios/AppIcon.appiconset/Icon-App-20x20@1x.png
icon/ios/AppIcon.appiconset/Icon-App-20x20@2x.png
icon/ios/AppIcon.appiconset/Icon-App-20x20@3x.png
icon/ios/AppIcon.appiconset/Icon-App-29x29@1x.png
icon/ios/AppIcon.appiconset/Icon-App-29x29@2x.png
icon/ios/AppIcon.appiconset/Icon-App-29x29@3x.png
icon/ios/AppIcon.appiconset/Icon-App-40x40@1x.png
icon/ios/AppIcon.appiconset/Icon-App-40x40@2x.png
icon/ios/AppIcon.appiconset/Icon-App-40x40@3x.png
icon/ios/AppIcon.appiconset/Icon-App-57x57@1x.png
icon/ios/AppIcon.appiconset/Icon-App-57x57@2x.png
icon/ios/AppIcon.appiconset/Icon-App-60x60@1x.png
icon/ios/AppIcon.appiconset/Icon-App-60x60@2x.png
icon/ios/AppIcon.appiconset/Icon-App-60x60@3x.png
icon/ios/AppIcon.appiconset/Icon-App-72x72@1x.png
icon/ios/AppIcon.appiconset/Icon-App-72x72@2x.png
icon/ios/AppIcon.appiconset/Icon-App-76x76@1x.png
icon/ios/AppIcon.appiconset/Icon-App-76x76@2x.png
icon/ios/AppIcon.appiconset/Icon-App-76x76@3x.png
icon/ios/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
icon/ios/AppIcon.appiconset/Icon-Small-50x50@1x.png
icon/ios/AppIcon.appiconset/Icon-Small-50x50@2x.png
icon/ios/README.md
icon/ios/iTunesArtwork@1x.png
icon/ios/iTunesArtwork@2x.png
icon/ios/iTunesArtwork@3x.png
EasyScannerPrinter/.idea/libraries/cardview_v7_25_2_0.xml
EasyScannerPrinter/.idea/libraries/draglistview_1_4.xml
EasyScannerPrinter/.idea/libraries/dropbox_core_sdk_2_1_1.xml
EasyScannerPrinter/.idea/libraries/jackson_core_2_7_4.xml
EasyScannerPrinter/.idea/libraries/onedrive_picker_android_v2_0.xml
EasyScannerPrinter/.idea/libraries/play_services_base_8_4_0.xml
EasyScannerPrinter/.idea/libraries/play_services_basement_8_4_0.xml
EasyScannerPrinter/.idea/libraries/play_services_drive_8_4_0.xml
EasyScannerPrinter/.gradle/3.3/taskArtifacts/fileHashes.bin
EasyScannerPrinter/.gradle/3.3/taskArtifacts/fileHashes.bin.cpgz
EasyScannerPrinter/.gradle/3.3/taskArtifacts/fileSnapshots.bin
EasyScannerPrinter/.gradle/3.3/taskArtifacts/fileSnapshots.bin.cpgz
EasyScannerPrinter/.gradle/3.3/taskArtifacts/taskArtifacts.bin
EasyScannerPrinter/.gradle/3.3/taskArtifacts/taskArtifacts.bin.cpgz
EasyScannerPrinter/.gradle/3.3/taskArtifacts/taskArtifacts.lock
EasyScannerPrinter/local.properties
EasyScannerPrinter/.idea/libraries/android_android_25.xml
EasyScannerPrinter/.idea/libraries/android_pdf_viewer_2_4_0.xml
EasyScannerPrinter/.idea/libraries/androidphotofilters_1_0_1.xml
EasyScannerPrinter/.idea/libraries/animated_vector_drawable_25_2_0.xml
EasyScannerPrinter/.idea/libraries/appcompat_v7_25_2_0.xml
EasyScannerPrinter/.idea/libraries/design_25_2_0.xml
EasyScannerPrinter/.idea/libraries/library_0_1_2_beta.xml
EasyScannerPrinter/.idea/libraries/mobileprintsdk_v2_02_466.xml
EasyScannerPrinter/.idea/libraries/multidex_1_0_1.xml
EasyScannerPrinter/.idea/libraries/multidex_instrumentation_1_0_1.xml
EasyScannerPrinter/.idea/libraries/nineoldandroids_2_4_0.xml
EasyScannerPrinter/.idea/libraries/pdfium_android_1_5_0.xml
EasyScannerPrinter/.idea/libraries/permissionsdispatcher_2_3_0.xml
EasyScannerPrinter/.idea/libraries/photofilter_master.xml
EasyScannerPrinter/.idea/libraries/recyclerview_v7_25_2_0.xml
EasyScannerPrinter/.idea/libraries/subsampling_scale_image_view_2_3_0.xml
EasyScannerPrinter/.idea/libraries/support_annotations_25_2_0.xml
EasyScannerPrinter/.idea/libraries/support_compat_25_2_0.xml
EasyScannerPrinter/.idea/libraries/support_core_ui_25_2_0.xml
EasyScannerPrinter/.idea/libraries/support_core_utils_25_2_0.xml
EasyScannerPrinter/.idea/libraries/support_fragment_25_2_0.xml
EasyScannerPrinter/.idea/libraries/support_media_compat_25_2_0.xml
EasyScannerPrinter/.idea/libraries/support_v4_25_2_0.xml
EasyScannerPrinter/.idea/libraries/support_vector_drawable_25_2_0.xml
EasyScannerPrinter/.idea/libraries/transition_25_2_0.xml
EasyScannerPrinter/.idea/modules.xml
EasyScannerPrinter/app/app.iml
EasyScannerPrinter/build/intermediates/dex-cache/cache.xml
EasyScannerPrinter/.gradle/3.3/tasks/_library_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
EasyScannerPrinter/.gradle/3.3/tasks/_library_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
EasyScannerPrinter/.gradle/3.3/tasks/_library_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
EasyScannerPrinter/.gradle/3.3/tasks/_library_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
EasyScannerPrinter/.gradle/3.3/tasks/_library_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
EasyScannerPrinter/.gradle/3.3/tasks/_library_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
EasyScannerPrinter/.gradle/3.3/tasks/_library_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
EasyScannerPrinter/.idea/libraries/animated_vector_drawable_25_3_0.xml
EasyScannerPrinter/.idea/libraries/recyclerview_v7_25_3_0.xml
EasyScannerPrinter/.idea/libraries/support_annotations_25_3_0.xml
EasyScannerPrinter/.idea/libraries/support_compat_25_3_0.xml
EasyScannerPrinter/.idea/libraries/support_core_ui_25_3_0.xml
EasyScannerPrinter/.idea/libraries/support_fragment_25_3_0.xml
EasyScannerPrinter/.idea/libraries/support_media_compat_25_3_0.xml
EasyScannerPrinter/.idea/libraries/support_v13_25_1_0.xml
EasyScannerPrinter/.idea/libraries/support_v4_25_3_0.xml
EasyScannerPrinter/.idea/libraries/support_vector_drawable_25_3_0.xml
EasyScannerPrinter/.idea/libraries/transition_25_3_0.xml
EasyScannerPrinter/.idea/libraries/appcompat_v7_25_3_0.xml
EasyScannerPrinter/.idea/libraries/cardview_v7_25_3_0.xml
EasyScannerPrinter/.idea/libraries/core_0_9_2_3.xml
EasyScannerPrinter/.idea/libraries/design_25_3_0.xml
EasyScannerPrinter/.idea/libraries/floatingactionbutton_1_10_1.xml
EasyScannerPrinter/.idea/libraries/library_1_3_0.xml
EasyScannerPrinter/.idea/libraries/nanohttpd_2_2_0.xml
EasyScannerPrinter/.idea/libraries/play_services_base_10_2_0.xml
EasyScannerPrinter/.idea/libraries/play_services_basement_10_2_0.xml
EasyScannerPrinter/.idea/libraries/play_services_drive_10_2_0.xml
EasyScannerPrinter/.idea/libraries/play_services_tasks_10_2_0.xml
