<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myboxteam.scanner">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.MBApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".activity.ScanActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.BookActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".activity.PrintActivity"
            android:parentActivityName=".activity.BookActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CloudActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".activity.PrintDialogActivity"
            android:parentActivityName=".activity.PrintActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity.SettingActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity.HTTPServerActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!--HTTP-->
        <service
            android:name="com.myboxteam.scanner.services.httpservice.HTTPService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".services.httpservice.HTTPTileService"
            android:icon="@drawable/ic_http_dark"
            android:label="@string/http"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.myboxteam.scanner.services.httpservice.HTTPReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.myboxteam.scanner.services.httpservice.HTTPReceiver.ACTION_START_HTTPSERVER" />
                <action android:name="com.myboxteam.scanner.services.httpservice.HTTPReceiver.ACTION_STOP_HTTPSERVER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.myboxteam.scanner.ui.notifications.HTTPNotification"
            android:exported="true">
            <intent-filter>
                <action android:name="com.myboxteam.scanner.services.httpservice.HTTPReceiver.HTTPSERVER_STARTED" />
                <action android:name="com.myboxteam.scanner.services.httpservice.HTTPReceiver.HTTPSERVER_STOPPED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>